* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: header-title;
    src: url('../fonts/HindSiliguri-Light.ttf');
}

@font-face {
    font-family: header-text;
    src: url('../fonts/Manrope-Light.ttf');
}

.header-container {
    height: 100%;
}

.header-background {
    position: absolute;
    width: 100%;
    z-index: -10;
    min-height: 75vh;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.menu-icon {
    font-size: large;
    font-weight: bold;
    color: #ffffff;
    font-family: header-title;
}

.header-menu {
    width: 100%;
    padding: 3% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list {
    display: flex;
    margin: 0 1% 0 0;
    padding: 1% 0;
    width: 70%;
    justify-content: flex-end;
}

.list-items {
    font-size: 20px;
    margin: 0 2%;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    font-family: header-title;
}

.info {
    min-height: 600px;
    width: 1000px;
    margin: 1% auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: white;
    border-radius: 2%;
    padding: 1% 0;
    font-family: header-text;
}

.person-photo {
    width: 60%;
    height: 500px;
    max-height: 500px;
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.person-photo>img {
    border-radius: 10px;
}

.personal-info {
    height: fit-content;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    font-family: header-title;
}

.say-hello {
    color: rgb(70, 66, 66);
    font-weight: lighter;
    margin: 2% 0;
    font-family: header-title;
}

.person-name {
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin: 3% 0;
    font-family: header-title;

}

.carrier {
    font-weight: bold;
    margin: 2% 0;
    font-family: header-title;
}

.info-item {
    width: 80%;
    margin: 3% 0;
    color: rgb(70, 66, 66);
    display: flex;
    align-items: center;
    height: max-content;
}

.info-item-title {
    color: #000;
    font-weight: bold;
    margin-right: 2%;
}

.info-item-value {
    color: #000;
}

.info-item>svg {
    margin: 0 3% 0 0;
}

.social-media {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.link-me {
    min-width: 50px;
    border-radius: 10%;
    margin: 2% 2% 0;
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 500ms;
}

.link-me:hover {
    color: #000;
}

.about-section {
    padding: 2% 0;
    display: flex;
    flex-flow: row wrap;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.about-myself {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.about-myself-title {
    font-weight: bold;
    color: darkblue;
    font-size: 30px;
    margin: 2% 0;
    font-family: header-title;
}

.about-myself-note {
    width: 70%;
    color: black;
    font-weight: 200;
    margin: 2% 0;
    font-family: header-text;
}

.about-achievements-container {
    margin: 2% 0;
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.achievement-item {
    height: 120px;
    width: 120px;
    padding: 1%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 10px;
}

.achievement-item>svg {
    margin: 2% 0;
    color: #354259;
    font-weight: bold;
}

.achievement-item-name {
    margin: 2% 0;
    color: #354259;
    font-weight: bold;
    font-size: 20px;
    font-family: header-text;
}

.achievement-item-description {
    color: #1572A1;
    margin: 2% 0;
    font-weight: bold;
    text-align: center;
    font-family: header-text;
}

.about-skills {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
}

.skill {
    width: 80%;
    margin: 2% 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.skill-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    font-family: header-title;
}

.progress-bar {
    width: 100%;
    height: 10px;
    margin: 1% 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.progress-bar-fill {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.html, .css {
    width: 90%;
}

.js {
    width: 80%;
}

.react {
    width: 60%;
}

.python {
    width: 80%;
}

.django {
    width: 75%;
}

.php {
    width: 60%;
}

.section-experiences {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.experiences-button-container {
    width: 40%;
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.experiences-button {
    padding: 3% 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
}

.experiences-button:hover {
    transition: all 500ms;
    background-color: rgba(240, 240, 240, 1);
    color: #000;
    cursor: pointer;
}

.experiences-button-active {
    background-color: rgba(240, 240, 240, 1);
    color: #000;
}

.experiences-button-value {
    font-weight: bold;
    font-family: header-text;
}

.experiences-list-container {
    margin: 5% auto;
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.experiences-list-container::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
}

#experiences-list {
    display: flex;
}

#educations-list {
    display: none;
}

.experiences-list-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}

.experiences-list-row::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 49.8%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}

.experiences-date {
    width: 50%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: header-title;
}

.experience-description {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
}

.experience-title {
    width: 80%;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin: 2% auto;
    font-family: header-text;
}

.experience-carrier {
    width: 80%;
    color: #eee;
    margin: 2% auto;
    font-family: header-text;
}

.offerings-to-my-clients-section {
    display: flex;
    flex-flow: column wrap;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.offering-section-header {
    padding: 3% 0;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offering-section-header>h1 {
    margin: 2% 0;
    text-align: center;
    font-weight: bold;
    font-family: header-title;
}

.offering-section-header>p {
    width: 70%;
    font-size: 20px;
    text-align: center;
    color: #92A9BD;
    font-family: header-text;

}

.offering-section-footer {
    width: 90%;
    padding: 3% 0;
    margin: 4% auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.offering-footer-sections {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.offering-footer-sections>svg {
    color: #969696;
    margin: 1% 0;
    transition: all 500ms;
}

.offering-footer-sections>svg:hover {
    color: #000;
    cursor: pointer;
}

.offering-footer-sections>h3 {
    margin: 2% 0;
    font-family: header-title;

}

.offering-footer-sections>p {
    margin: 1% 0;
    font-family: header-text;
}

.projects-and-comments-section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.projects-title-section {
    width: 100%;
    margin: 5% 0 3%;
    padding: 1% 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.projects-title {
    margin: 1% 0;
    color: #000;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    font-family: header-title;
}

.projects-title-section>p {
    width: 50%;
    margin: 1% auto;
    color: #969696;
    text-align: center;
    font-size: medium;
    font-family: header-text;
}

.projects-main-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.projects-filters-container {
    min-width: 50%;
    padding: 1% 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-filter-button {
    padding: 2% 5%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: header-title;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 500ms;
}

.project-filter-button:hover {
    background-image: linear-gradient(15deg, #0e4a6d 0%, #69c2b7 100%);
}

.project-filter-button-active {
    background-image: linear-gradient(15deg, #0e4a6d 0%, #69c2b7 100%);
}

.project-fliter:hover {
    transition: all 500ms;
    color: black;
}

.projects-container {
    width: 100%;
    display: grid;
    margin: 3% 0;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
}

@keyframes hideProjectItems {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes showProjectItems {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.project-item {
    display: none;
    width: 400px;
    height: 400px;
    margin: 4% 0;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: hideProjectItems;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.project-item-active {
    display: flex;
    opacity: 1;
    animation-name: showProjectItems;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.project-item-picture-container {
    width: 300px;
    height: 300px;
    margin: 1% 0;
    border-radius: 10%;
    /* for picture size */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.project-item-picture {
    width: 100%;
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
}

.project-item-title {
    margin: 1% 0;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    font-family: header-text;

}

.project-item-comment {
    margin: 1% 0;
    color: #969696;
    font-family: header-text;
}

.load-more {
    width: 100%;
    padding: 2% 0;
    display: flex;
    justify-content: center;
}

.load-more-button {
    transition: all 700ms;
    padding: 1.5%;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-family: header-title;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.load-more-button:hover {
    transition: all 700ms;
    padding: 1.5% 2%;
    background-image: linear-gradient(to top, #0088ad 0%, #005bea 100%);
}

.footer {
    width: 100%;
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.footer-item {
    margin: 1% 0;
    width: 20%;
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-site {
    padding: 1% 0;
    width: 40%;
}

.get-email {
    padding: 1% 0;
    width: 30%;
    color: #fff;
}

.footer-about-title {
    color: #fff;
    font-weight: bold;
    font-family: header-title;
}

.about-message, .copyright {
    margin: 3% 0;
    color: #fff;
    font-weight: bold;
    font-family: header-text;
}

.copyright>a {
    margin: 1% 0;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.507);
    font-family: header-text;
}

.copyright>a:hover {
    transition: all 500ms;
    font-weight: bold;
    color: #fff;
}

.follow-us-title {
    margin: 5% 0;
    color: #fff;
    font-weight: bold;
    font-family: header-text;
}

.follow-us-content {
    margin: 7% 0;
    color: #fff;
    font-weight: bold;
    font-family: header-title;
}

.social-media-icons-container {
    width: 70%;
    margin: 7% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.social-media-icons-button {
    margin: 1% 5%;
    cursor: pointer;
    color: #fff;
}

@media screen and (max-width:1200px) {
    .person-name {
        font-size: 38px;
    }

    .about-section {
        justify-content: space-around;
    }

    .about-skills {
        width: 45%;
        align-items: center;
    }

    .about-achievements-container,
    .about-myself-note {
        width: 90%;
    }

    .achievement-item {
        width: 25%;
    }

    .projects-filters-container {
        width: 70%;
    }

    .project-item {
        width: 330px;
        height: 330px;
    }

    .project-item-picture-container {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:1100px) {
    .info {
        width: 900px;
    }

    .project-item {
        width: 300px;
        height: 300px;
    }

    .project-item-picture-container {
        width: 200px;
        height: 200px;
    }

    .project-item-picture {
        width: 100%;
        height: 100%;
        max-height: 100%;
    }

    .projects-container {
        justify-content: space-around;
    }

    .project-item-comment {
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width:920px) {
    .info {
        width: 750px;
        min-height: 500px;
    }

    .info-item {
        margin: 3% 0;
        justify-content: space-between;
    }

    .info-item>svg {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .info-item-title {
        display: none;
    }

    .link-me {
        margin: 5% 0;
        width: 28%;
        background-color: rgba(0, 0, 0, 0);
    }

    .link-me>svg {
        width: 30px;
        height: 30px;
    }

    .about-myself-title {
        font-size: 25px;
    }

    .about-myself-note,
    .skill-name,
    .achievement-item-name,
    .offering-footer-sections>h3 {
        font-size: 15px;
    }

    .achievement-item-description,
    .experience-carrier,
    .offering-footer-sections>p {
        font-size: 13px;
    }

    .achievement-item>svg {
        width: 30px;
        height: 30px;
    }

    .experiences-button-value,
    .experiences-date {
        font-size: 15px;
    }

    .experience-description {
        align-items: center;
    }

    .experience-title {
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
    }

    .offering-section-header>h1,
    .projects-title {
        font-size: 20px;
    }

    .offering-section-header>p {
        font-size: 17px;
    }

    .offering-section-footer {
        align-items: flex-start;
    }

    .offering-footer-sections>svg {
        width: 40px;
        height: 40px;
    }

    .projects-title {
        font-size: 30px;
    }

    .project-item {
        width: 250px;
        height: 300px;
    }

    .project-item-picture-container {
        width: 200px;
        height: 180px;
    }

    .project-item-title {
        margin: 5% 0 1%;
        font-size: 17px;
    }
}

@media screen and (max-width:768px) {

    .info,
    .projects-filters-container {
        width: 90%;
    }

    .info,
    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .person-photo,
    .about-myself,
    .about-skills,
    .experiences-list-container,
    .experiences-button-container {
        width: 80%;
    }

    .personal-info {
        width: 80%;
        align-items: center;
    }

    .about-achievements-container {
        display: none;
    }

    .skill {
        width: 90%;
    }

    .projects-container {
        grid-template-columns: auto auto;
    }

    .project-filter-button {
        margin: 2% 0;
    }

    .project-item-comment {
        font-size: 13px;
    }

    .offering-footer-sections>p {
        text-align: center;
    }

    .projects-filters-container {
        justify-content: space-evenly;
    }

    .projects-title-section>p {
        width: 80%;
    }
}

@media screen and (max-width:548px) {
    .person-name {
        font-size: 30px;
    }

    .project-item {
        width: 200px;
        height: 300px;
    }

    .experiences-list-container {
        width: 100%;
    }

    .experience-title,
    .experiences-date {
        font-size: 14px;
    }

    .experience-carrier {
        display: none;
    }

    .offering-section-header>p {
        font-size: 15px;
        width: 90%;
    }

    .offering-section-footer {
        flex-direction: column;
        align-items: center;
    }

    .offering-footer-sections {
        margin: 1% 0;
        align-items: center;
        width: 90%;
    }

    .projects-title {
        font-size: 24px;
    }

    .project-item-picture-container {
        width: 180px;
        height: 160px;
    }

    .project-item-picture {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-item {
        width: 80%;
    }

    .about-message, .copyright,
    .follow-us-title,
    .follow-us-content {
        margin: 1% 0;
    }

    .social-media-icons-container {
        margin: 1% auto;
    }
}

@media screen and (max-width:450px) {
    .person-photo {
        height: 350px;
    }

    .project-item {
        width: 200px;
    }

    .project-item-picture-container {
        width: 150px;
        height: 130px;
    }
}

@media screen and (max-width:380px) {
    .person-name {
        font-size: 23px;
    }

    .experiences-button-container {
        width: 100%;
    }

    .projects-container {
        grid-template-columns: auto;
    }

    .project-item {
        margin: 1% 0;
        height: 230px;
    }
}